.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15rem;
    padding-bottom: 10rem;
    width: ;: 100%;
    /* justify-content: space-between; */
   
}

.mapa{
    flex: 1 1 45rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contact .row .content{
    flex: 1 1 45rem;
    padding: 5rem;
    padding-left: 12rem;
    color: #fff;
    font-size: 3rem;
    background-color: #d1111c;
    border-radius: 10px;
    border-top: 30px;
}

.contact .row .content h6{
    text-align: right;
}


@media (max-width: 1000px) {
    .mapa {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        height: 80%;
        width: 100%;

    }

    .contact .row .content{
        margin-top: 5rem;
        padding: 3rem;
        line-height: 45px;
    }
}

