/* .tarjeta{
    color:white;
    width: 12rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.imagen{
    max-width: 20rem;
} */
.tarjeta {
    padding: 4rem;
    text-align: center;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
    justify-content: center;
    border: 0.2rem solid white;
    color: white;
    width: 30rem;
}

.tarjeta .imagen{
    max-width: 22rem;
}
.tarjeta .content{
    padding-top: 25px;
    }

.tarjeta .content h3 {
    color: red;
    border: white;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.tarjeta .content h4{
    padding-bottom: 6px;
}
.tarjeta .content span{
    font-size: 1.5rem;
}

.imagen {
    height: 20rem;
    border-radius: 5px;
}

.tarjeta:hover {
    background: #d1111b64;
    transition: 0.5s;
}

.tarjeta:hover .imagen {

    transform: scale(1.2)
}